@charset "ISO-8859-1";
body{
	background-color: aquamarine;
	font-family: Georgia;
	
	
}
h1{
	font-family: Georgia;
}
li{

	list-style-type: none;

}
a{
	text-decoration: none;
	font-size:30px;
	text-align: center;
}
form{
	padding-top: 30px;
	padding-bottom: 60px;
	padding-left: 50px;
	background-color: gray;
	
}